/* Start Variables */ 
:root {
  --main-color: #10cab7;
  --secondary-color: #2c4755;
  --section-padding: 60px;
  --section-background: #f6f6f6;
  --main-duration: 0.5s;
}
/* End Variables */
/* Start Global Rules */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Work Sans", sans-serif;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
/* Small */
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
    
}
/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* End Global Rules */
/* Start Components */
.special-heading {
  color: #ebeced;
  font-size: 100px;
  text-align: center;
  font-weight: 800;
  letter-spacing: -3px;
  margin: 0;
}
.special-heading + p {
  margin: -30px 0 0;
  font-size: 20px;
  text-align: center;
  color: #797979;
}
@media (max-width: 767px) {
  .special-heading {
    font-size: 60px;
  }
  .special-heading + p {
    margin-top: -20px;
  }
}
/* End Components */
/* Start Header */
.header {
  padding: 20px;
}
.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  width: 60px;
}
.header .links {
  position: relative;
}
.header .links .icon {
  width: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}
.header .links .icon span {
  background-color: #333;
  height: 2px;
  margin-bottom: 5px;
  width: 100%;
}
.header .links ul {
  position: absolute;
  right: 0px;
  top: 100%;
  background-color: #ddd;
  list-style-type: none;
  padding: 0px;
  margin: 0px;
  min-width: 200px;
  display: none;
  z-index: 2;
}
.header .links:hover ul {
  display: block;
}
.header .links ul li a {
  display: block;
  padding: 15px;
  text-decoration: none;
  color: #333;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.header .links ul li:hover a {
  padding-left: 25px;
}
/* start landing */
.landing{
  background-image: url(/img/landing.jpg);
  background-size: cover;
  height: calc(100vh - 64px);
  position: relative;
}
.landing .intro-text{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50% , -50%);
  -webkit-transform: translate(-50% , -50%);
  -moz-transform: translate(-50% , -50%);
  -ms-transform: translate(-50% , -50%);
  -o-transform: translate(-50% , -50%);
}
.landing .intro-text h1{
  margin: 0;
  font-weight: bold ;
  color: var(--main-color);
  font-size: 50px;
}
.landing .intro-text p{
  font-size: 19px;
  line-height: 1.8;
}
/* end landing */
/* start features */
.features{
  padding-top:var(--section-padding);
  padding-bottom: var(--section-padding);
  background-color: var(--section-background);
}
.features .container{
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
  gap: 10px;
}
.features .feat{
  padding: 20px;
  text-align: center;
}
.features .feat i{
  color: var(--main-color);
  text-align: center;
  font-size: 40px;
}
.features .feat h3{
  font-weight: 800;
  margin:30px 0;
}
.features .feat p{
line-height: 1.8;
color: #777;
font-size: 17px;
}
/* end features */
/* start service */
.services{
  padding-top:var(--section-padding);
  padding-bottom: var(--section-padding);

}
.services .services-content{
    display: grid;
  grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
  gap: 30px;
  margin-top: 100px;
}
.services-content .service{
  display: flex;
  margin-bottom: 40px;
}
@media (min-width: 767px){
.services-content .service{
  flex-direction: column;
  text-align: center;
}
}
.services-content .service i{
  color: var(--main-color);
  flex-basis: 60px;

}
.services-content .service text{
  flex:1;
}
.services-content .service text h3{
  margin: 0 0 20px;
}
.services-content .service text p{
  color: #444;
  font-weight: 800px;
  line-height: 1.6;
}
.services-content .image{
text-align: center;
position: relative;
}
.services-content .image::before{
  content: "";
  position: absolute;
  background-color: var(--secondary-color);
  width: 80px;
  height: calc(100% + 100px);
  top: -50px;
  right: 0;
  z-index: -1;
  
}
.services-content .image img{
width: 260px;
}
@media (max-width:1199px) {
  .image-column{
    display: none;
  }
}
/* end service */
/* start portfolio */
.portfolio{
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  background-color: var(--section-background);
}
.portfolio .portfolio-content{
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
  gap: 30px;
  margin-top: 80px;
}
.portfolio .portfolio-content .card{
  background-color: white;

}
.portfolio .portfolio-content .card img{
  max-width: 100%;
  
}
.portfolio .portfolio-content .card .info{
  padding: 20px;
  
}
.portfolio .portfolio-content .card .info h3{
  margin: 0;
  
}
.portfolio .portfolio-content .card .info p{
    color: #777;
    line-height: 1.8;
    margin: 0;
}
/* End portfolio */
/* start about */
.about{
  padding-top: var(--section-padding);
  padding-bottom:calc(var(--section-padding) 60px) ;
}
.about .about-content{
  margin-top: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
@media (max-width: 991px) {
  .about-content{
      flex-direction: column;
      text-align: center;
    }
}
.about .about-content .img{
  position: relative;
  width: 250px;
  height: 375px;

}
@media (max-width: 991px){
  .about .about-content .img{
    margin: 0 auto 60px;
  }
}
.about .about-content .img::before{
content: "";
    position: absolute;
    background-color: var(--main-color);
    width: 100px;
    height: calc(100% + 59px);
    top: -67px;
    left: -20px;
    z-index: -1;

}
.about .about-content .img::after{
    content: "";
    position: absolute;
    width: 120px;
    height: 77%;
    border-left: 80px solid var(--secondary-color);
    border-bottom: 80px solid var(--secondary-color);
    z-index: -1;
    right: -102px;
    top: -69px;
}
@media (max-width: 991px) {
  .about .about-content .img::before,
  .about .about-content .img::after
  {
     display: none;
    }
}
.about .about-content .img img{ 
  max-width: 200px;
}
.about .about-content .text{
  flex-basis: calc(100% - 500px);
}
.about .about-content .text p:first-of-type{
  font-weight: bold;
  line-height: 2;
  margin-bottom: 50px;
}
.about .about-content .text hr{
  width: 50%;
  display: inline-block;
  border-color: var(--main-color);
}
.about .about-content .text p:last-of-type{
  line-height: 2;
  color: #777;
}

/* End about */